* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 40px;
    background-color: #9ec5e8;
}

/* MAIN CONTAINER */
.container {
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    color: #1e3a5f;
    margin-bottom: 5px;
}

.subtitle {
    color: gray;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 15px;
}

/* CONTACT ICONS */
.contact-icons {
    margin-top: 15px;
    display: flex;
    gap: 12px;
}

.contact-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f2f6fb;
    border-radius: 50%;
    text-decoration: none;
    color: #1e3a5f;
    font-size: 18px;
    transition: all 0.3s ease;
}

.contact-icons a:hover {
    background-color: #2563eb;
    color: white;
    transform: translateY(-3px);
}

/* CARDS */
.card {
    background-color: #f2f6fb;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h2 {
    color: #1e3a5f;
}

h3 {
    color: #1e3a5f;
    margin-bottom: 8px;
}

p, li {
    line-height: 1.7;
    color: #374151;
}

ul {
    padding-left: 20px;
}

.highlight {
    color: #2563eb;
    font-weight: bold;
}

/* SKILLS */
.skills-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.skill-card {
    background-color: #cfe8f3;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
}

.skill-card h3 {
    margin: 10px 0 6px;
}

.skill-card p {
    font-size: 14px;
    line-height: 1.5;
}

.skill-icon {
    font-size: 28px;
}

.skill-icon {
    font-size: 28px;
}

.skill-icon.html:hover { color: #a83232; }
.skill-icon.css:hover { color: #1a73e8; }
.skill-icon.java:hover { color: #ffb347; }
.skill-icon.networking:hover { color: #332211; }
/* FOOTER */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #555;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    body {
        padding: 15px;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .skills-container {
        justify-content: center;
    }
}
